<h1>Pages</h1>

<div class="page">
  <%= render partial: 'pages/share/page', locals: { cs: "pink", page: 1} %>

  <%= render partial: 'pages/share/page', locals: { cs: "lblue", page: 2} %>

  <%= render partial: 'pages/share/page', locals: { cs: "gold", page: 3} %>
</div>