<%= javascript_import_module_tag "scroll_page" %>

<h1>ScrollPage</h1>
<div class="section white-bg">セクション 1 - 白背景に黒字</div>
<div class="section black-bg">セクション 2 - 黒背景に白字</div>
<div class="section white-bg">セクション 3 - 白背景に黒字</div>
<div class="section black-bg">セクション 4 - 黒背景に白字</div>