 .page {
  padding: 20px;
}

.page .pink {
  background-color: rgba(255, 182, 193, 0.5); /* 桃色 (ライトピンク) */
  height: 1000px;
  padding: 10px;
  position: relative;
}

.page .lblue {
  background-color: rgba(173, 216, 230, 0.5); /* 薄青色 (ライトブルー) */
  height: 1000px;
  padding: 10px;
  position: relative;
}

.page .gold {
  background-color: rgba(255, 215, 0, 0.5); /* 黄金色 (ゴールド) */
  height: 1000px;
  padding: 10px;
  position: relative;
}

.btm {
  position: absolute;
  bottom: 0; /* 下部に固定 */
  width: 100%; /* 横幅を親要素に合わせる */
  text-align: center; /* 中央に配置 */
}