/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.white-bg {
  background-color: white;
  color: black;
}

.black-bg {
  background-color: black;
  color: white;
}
